.wrapper {
    width: 100%;
}

.add-todo {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

.list-todo {
    width: 50%;
    margin: auto;
    text-align: center;
    ul li {
    list-style-type: none;
    text-align: start;
    padding-left: 22%;
    }
}

.info {
    width: 48%;
    margin: auto;
    text-align: start;
}

.navbar{
    margin-bottom: 10px;
}

.searchTodo {
    width: 30%;
    margin: auto;
    margin-bottom: 30px;
}

